@{
    ViewData["Title"] = "Index";
}

<h2>@ViewData["Title"]</h2>

<a asp-controller="Products" asp-action="All" class="btn btn-info navbar-btn">Product List</a>
<a asp-controller="Products" asp-action="Add" class="btn btn-info navbar-btn">Add Product</a>
