@model ProductsList.Models.Product

@using (Html.BeginForm("Update", "Products"))
{
    <input type="hidden" value="@Model.Id" name="Id" />
    <table>
        <tr>
            <td><p>Name</p></td>
            <td><input type="text" name="Name" value="@Model.Name" /> </td>
        </tr>
        <tr>
            <td><p>Amount</p></td>
            <td><input type="text" name="Amount" value="@Model.Amount" /> </td>
            <td>
                <select id="units">
                    <option value="pieces">Pieces</option>
                    <option value="liter">Liter</option>
                    <option value="milliliter">Milliliter</option>
                    <option value="gram">Gram</option>
                    <option value="kilogram">Kilogram</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Update" /> </td>
            <td></td>
        </tr>
    </table>
}
